/* Initial Style */

body {
    overflow-x: hidden;
    height: 20000px;
}

* {
    margin: 0;
    padding: 0;
}

/* ================================================
        Navigation Style Start
   ================================================
*/

.navbar {
    /* background: #031429 !important; */
    background-color: transparent !important;
    padding: 10px 0px !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar .navbar-header {
    padding: 10px;
    font-family: "Brush Script MT", cursive;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    color: lightblue !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar .navbar-header:hover {
    color: rgb(89, 158, 204) !important;
}

.navbar button {
    margin-right: 10px !important;
    border-color: rgba(6, 88, 116, 0.6) !important;
    background-color: rgba(6, 88, 116, 0.6);
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.navbar button:hover {
    border-color: rgba(6, 88, 116, 0.6);
    background-color: rgba(0, 153, 204, 0.5);
}

.navbar button .navbar .navbar-header:hover {
    color: lightgray !important;
}

.navbar ul li a {
    color: white !important;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navbar ul li a:hover {
    border: 1px solid rgba(184, 184, 184, 0.356);
    background-color: rgba(184, 184, 184, 0.356);
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navbar ul li a:focus {
    border: 1px solid rgba(184, 184, 184, 0.356);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navbar ul li a.location {
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ================================================
        Navigation Style On Scroll Start
   ================================================
*/

.onScroll {
    display: none !important;
    transition: all 0.9s ease-in;
    -webkit-transition: all 0.9s ease-in;
    -moz-transition: all 0.9s ease-in;
    -ms-transition: all 0.9s ease-in;
    -o-transition: all 0.9s ease-in;
}

.addBgc {
    background: rgba(11, 104, 134, 0.5) !important;
}

/* ================================================
        Navigation Style On Scroll End
   ================================================
*/

/* ================================================
        Navigation Style End
   ================================================
*/

/* ================================================
        Slider Style Begin
   ================================================
*/

.carousel-item {
    position: fixed;
    width: 100%;
    height: 700px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.slider .one {
    background: url(../img/slide1.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.slider .two {
    background: url(../img/slide2.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.slider .three {
    background: url(../img/slide3.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.slider a span:hover {
    color: rgba(11, 104, 134, 0.5) !important;
}

/* ================================================
        Slider Style End
   ================================================
*/