/* Initial Style */

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* ================================================
        Navigation Style Start
   ================================================
*/

.navbar {
    /* background: #031429 !important; */
    background-color: transparent !important;
    padding: 10px 0px !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar .navbar-header {
    padding: 10px;
    font-family: "Brush Script MT", cursive;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    color: lightblue !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar .navbar-header:hover {
    color: rgb(157, 170, 179) !important;
}

.navbar button {
    margin-right: 10px !important;
    border-color: rgba(6, 88, 116, 0.6) !important;
    background-color: rgba(6, 88, 116, 0.6);
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.navbar button:hover {
    border-color: rgba(6, 88, 116, 0.6);
    background-color: rgba(0, 153, 204, 0.5);
}

.navbar button .navbar .navbar-header:hover {
    color: lightgray !important;
}

.navbar ul li a {
    color: white !important;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.navbar ul li a:hover {
    border: 1px solid rgba(184, 184, 184, 0.5);
    background-color: rgba(184, 184, 184, 0.5);
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.navbar ul li a:focus {
    border: 1px solid rgba(184, 184, 184, 0.5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navbar ul li a.location {
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ================================================
        Navigation Style On Scroll Start
   ================================================
*/

.onScroll {
    display: none !important;
    transition: all 0.9s ease-in;
    -webkit-transition: all 0.9s ease-in;
    -moz-transition: all 0.9s ease-in;
    -ms-transition: all 0.9s ease-in;
    -o-transition: all 0.9s ease-in;
}

.addBgc {
    background: rgba(11, 103, 134, 0.8) !important;
}

/* ================================================
        Navigation Style On Scroll End
   ================================================
*/

/* ================================================
        Navigation Style End
   ================================================
*/

/* ================================================
        Slider Style Begin
   ================================================
*/

.carousel-item {
    position: fixed;
    width: 100%;
    height: 700px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.slider .one {
    background: url(../img/slide1.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.slider .two {
    background: url(../img/slide2.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.slider .three {
    background: url(../img/slide3.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.slider a span:hover {
    color: rgba(11, 104, 134, 0.8) !important;
}

/* ================================================
        Slider Style End
   ================================================
*/

/* ================================================
        About Us Style Begin
================================================
*/

.about-us-area {
    padding-top: 120px;
    padding-bottom: 80px;
    background-color: rgba(153, 209, 209, 0.137);
}

.about-us-title {
    margin-bottom: 40px;
}

.about-us-title h2 {
    color: rgb(13, 13, 104);
    font-size: 40px;
    text-transform: uppercase;
}

.about-us-title .underline {
    width: 40px;
    border-bottom: 2px solid rgb(13, 13, 104);
    margin: 0 auto;
}

.about-us-wrap {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    margin-top: 20px;
    z-index: 9;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.about-us-wrap::before, .about-us-wrap::after {
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(45deg);
    width: 400%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    background: rgba(11, 103, 134);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.about-us-wrap::before {
    top: -37px;
    left: 100%;
}

.about-us-wrap:hover:before {
    left: -27px;
    opacity: 1;
}

.about-us-wrap::after {
    bottom: -37px;
    right: 100%;
}

.about-us-wrap:hover:after {
    opacity: 1;
    right: -27px;
}

.about-us-wrap:hover .about-us-header i {
    color: rgb(252, 246, 246);
}

.about-us-wrap:hover .about-us-header h2 {
    color: rgb(252, 246, 246);
}

.about-us-wrap:hover p {
    color: rgb(252, 246, 246);
}

.about-us-header h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: rgb(13, 13, 104);
}

.about-us-header i {
    color: rgb(13, 13, 104);
    padding: 10px;
    font-size: 50px;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.about-us-wrap p {
    color: rgb(78, 75, 74);
}

.about-us-wrap:hover .about-us-header i {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

/* ================================================
        About Us Style End
================================================
*/

/* ================================================
       Store Style Begin
================================================
*/

.store-area {
    margin-top: 120px;
}

.store-header h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: rgb(4, 4, 77);
}

.store-header p {
    margin-top: -12px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: rgb(4, 4, 77);
    margin-bottom: 80px;
}

.store-area .no-edge {
    padding-left: 0;
    padding-right: 0;
}

.store-wrap {
    overflow: hidden;
}

.store-wrap img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.store-wrap img:hover {
    transform: scale(1.2);
    cursor: zoom-in;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* ================================================
        Store Style End
================================================
*/

/* ================================================
        Dishes Style Begin
================================================
*/

.dishes-area {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(..//img/cover.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 180px;
    padding-bottom: 100px;
}

.dishes-header {
    margin-bottom: 120px;
    color: rgb(169, 228, 248);
}

.dishes-header h2 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.dishes-header p {
    margin-top: -10px;
    font-size: 24px;
    font-weight: 600;
}

.dishes-wrap .dish-info img {
    width: 100%;
    height: auto;
    padding-left: 12px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.dish-info .dish-description {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: bisque;
}

.dishes-area .owl-theme .owl-dots {
    margin-top: 30px !important;
}

.dishes-area .owl-theme .owl-dot span {
    background: rgb(241, 223, 201) !important;
}

.dishes-area .owl-theme .owl-dot.active span {
    background: rgba(11, 103, 134) !important;
}

.dishes-area .owl-theme .owl-dot:hover span {
    background: rgba(11, 103, 134) !important;
}

/* ================================================
        Dishes Style End
================================================
*/

/* ================================================
        Menu Style Begin
================================================
*/

.menu-area {
    padding-top: 140px;
    padding-bottom: 100px;
    background-color: rgb(230, 230, 230);
}

.menu-header h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(13, 52, 92);
}

.underline {
    width: 40px;
    height: 2px;
    background-color: rgb(13, 52, 92);
    margin: 0 auto;
}

.menu-details {
    margin-top: 90px;
}

.menu-wrap {
    display: block;
    margin-left: 10px;
}

.menu-wrap button {
    display: block;
    width: 100%;
    height: auto;
    color: rgb(230, 230, 230);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 26px;
    font-weight: 500;
    text-transform: capitalize;
    border: none !important;
    box-shadow: none !important;
    background-color: rgb(38, 96, 155) !important;
    position: relative;
    margin-bottom: 5px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.menu-wrap button:hover {
    color: rgb(240, 211, 174) !important;
}

.menu-wrap button.active {
    background-color: rgb(13, 52, 92) !important;
    color: rgb(240, 211, 174) !important;
}

.menu-wrap button::before, .menu-wrap button.active::before {
    content: "\f068";
    font-family: fontawesome;
    width: 40px;
    height: 40px;
    line-height: 32px;
    border-radius: 50%;
    background: rgb(38, 96, 155);
    color: rgb(230, 230, 230);
    border: 5px solid rgb(230, 230, 230);
    text-align: center;
    font-size: 15px;
    position: absolute;
    left: -20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.menu-wrap button.active::before {
    content: "\f067";
    background: rgb(13, 52, 92);
    color: rgb(240, 211, 174);
}

.menu-wrap button:hover:before, .menu-wrap button.active:hover:before {
    color: rgb(240, 211, 174);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.menu-info {
    padding-left: 0px;
}

.menu-info ol {
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.menu-info ol li {
    list-style: none;
    display: inline-block;
    width: 100%;
    height: auto;
    background: rgb(13, 52, 92);
    color: rgb(230, 230, 230);
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px;
    border-radius: .25rem;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.menu-info ol li:hover {
    background: rgb(38, 96, 155);
    color: rgb(240, 211, 174);
    cursor: pointer;
}

.menu-info ol li p.plate {
    float: left;
    width: 86%;
}

.menu-info ol li p.price {
    float: right;
    width: 14%;
    visibility: hidden;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.menu-info ol li:hover p.price {
    visibility: visible;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

/* ================================================
        Menu Style End
================================================
*/

/* ================================================
        Contact Us Style End
================================================
*/

.contact-us-area {
    padding-top: 150px;
    padding-bottom: 180px;
    background: rgb(239, 245, 245);
}

.contact-us-header {
    margin-bottom: 80px;
}

.contact-us-header h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    color: rgb(13, 52, 92);
}

.contact-us-area .underline {
    background: rgb(13, 52, 92);
}

#contactForm .form-control {
    margin-bottom: 5px;
    padding: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: none;
    border: 1px solid rgb(197, 201, 201);
    background: rgb(13, 52, 92);
    color: rgb(239, 245, 245);
}

#contactForm .form-control::placeholder {
    color: rgb(239, 245, 245);
}

#contactForm button.btn {
    background: rgb(13, 52, 92);
    color: rgb(239, 245, 245);
    font-size: 22px;
    margin-top: 20px;
    padding: 20px 30px 20px 30px;
    border: none;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

#contactForm button.btn:hover {
    background: rgba(13, 53, 92, 0.815);
    color: rgb(239, 245, 245);
}

/* ================================================
        Contact Us Style End
================================================
*/

/* ================================================
        More Contact Info Style Begin
================================================
*/

.more-con-area {
    margin-bottom: -30px;
    background: rgb(11, 103, 134);
    padding-top: 35px;
    padding-bottom: 35px;
}

.more-icon .fa {
    font-size: 26px;
    color: rgb(235, 232, 232);
    border: 1px solid rgb(235, 232, 232);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.more-con-info:hover .fa {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.more-detail {
    color: rgb(235, 232, 232);
    margin-top: 10px;
    letter-spacing: 1px;
}

/* ================================================
        More Contact Info Style End
================================================
*/

/* ================================================
        Map Style Begin
================================================
*/

.maps {
    margin-top: 30px;
    height: auto;
    margin-bottom: -5px;
}

/* ================================================
        Map Style End
================================================
*/

/* ================================================
        Footer Style Begin
================================================
*/

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(..//img/coctail2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 40px;
    color: bisque;
}

footer .info {
    margin-top: 70px;
    margin-left: 70px;
}

footer .info a {
    margin-left: 70px;
    color: bisque;
}

footer .info a:hover .fa-facebook {
    color: rgb(59, 89, 152);
    border-color: rgb(59, 89, 152);
}

footer .info a:hover .fa-instagram {
    color: rgb(195, 42, 163);
    border-color: rgb(195, 42, 163);
}

footer .info a:hover .fa-tripadvisor {
    color: rgb( 0, 175, 135);
    border-color: rgb( 0, 175, 135);
}

footer .info a:hover .fa-google {
    color: rgb(66, 133, 244);
    border-color: rgb(66, 133, 244);
}

footer .info a i {
    font-size: 26px;
    font-weight: 500;
    padding: 20px;
    border: 1px solid transparent;
}

footer .open-hours p {
    font-size: 18px;
    /* font-weight: 500; */
    line-height: 18px;
}

footer .open-hours p:hover {
    text-decoration: underline;
}

footer .copyright {
    margin-top: 80px;
    line-height: 20px;
}

footer .footer-logo {
    font-family: "Brush Script MT", cursive;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

footer p.footer-logo:hover {
    color: lightblue;
}

footer p.created:hover span.authName {
    font-style: italic;
}

/* ================================================
        Footer Style End
================================================
*/