/* Initial Style */

body {
    overflow-x: hidden;
    height: 20000px;
}

* {
    margin: 0;
    padding: 0;
}

/* ================================================
        Navigation Style Start
   ================================================
*/

.navbar {
    /* background: #031429 !important; */
    background-color: transparent !important;
    padding: 10px 0px !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar .navbar-header {
    padding: 10px;
    font-family: "Brush Script MT", cursive;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    color: lightblue !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar .navbar-header:hover {
    color: rgb(157, 170, 179) !important;
}

.navbar button {
    margin-right: 10px !important;
    border-color: rgba(6, 88, 116, 0.6) !important;
    background-color: rgba(6, 88, 116, 0.6);
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.navbar button:hover {
    border-color: rgba(6, 88, 116, 0.6);
    background-color: rgba(0, 153, 204, 0.5);
}

.navbar button .navbar .navbar-header:hover {
    color: lightgray !important;
}

.navbar ul li a {
    color: white !important;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navbar ul li a:hover {
    border: 1px solid rgba(184, 184, 184, 0.5);
    background-color: rgba(184, 184, 184, 0.5);
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navbar ul li a:focus {
    border: 1px solid rgba(184, 184, 184, 0.5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navbar ul li a.location {
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ================================================
        Navigation Style On Scroll Start
   ================================================
*/

.onScroll {
    display: none !important;
    transition: all 0.9s ease-in;
    -webkit-transition: all 0.9s ease-in;
    -moz-transition: all 0.9s ease-in;
    -ms-transition: all 0.9s ease-in;
    -o-transition: all 0.9s ease-in;
}

.addBgc {
    background: rgba(11, 103, 134, 0.8) !important;
}

/* ================================================
        Navigation Style On Scroll End
   ================================================
*/

/* ================================================
        Navigation Style End
   ================================================
*/

/* ================================================
        Slider Style Begin
   ================================================
*/

.carousel-item {
    position: fixed;
    width: 100%;
    height: 700px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.slider .one {
    background: url(../img/slide1.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.slider .two {
    background: url(../img/slide2.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.slider .three {
    background: url(../img/slide3.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.slider a span:hover {
    color: rgba(11, 104, 134, 0.8) !important;
}

/* ================================================
        Slider Style End
   ================================================
*/

/* ================================================
        About Us Style Begin
================================================
*/

.about-us-area {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgba(153, 209, 209, 0.137);
}

.about-us-title {
    margin-bottom: 20px;
}

.about-us-title h2 {
    color: rgb(13, 13, 104);
    font-size: 40px;
    text-transform: uppercase;
}

.about-us-title .underline {
    position: relative;
    width: 40px;
    border-bottom: 2px solid rgb(13, 13, 104);
    margin: 0 auto;
}

.about-us-wrap {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    margin-top: 20px;
    z-index: 9;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.about-us-wrap::before, .about-us-wrap::after {
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(45deg);
    width: 400%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    background: rgba(11, 103, 134);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.about-us-wrap::before {
    top: -37px;
    left: 100%;
}

.about-us-wrap:hover:before {
    left: -27px;
    opacity: 1;
}

.about-us-wrap::after {
    bottom: -37px;
    right: 100%;
}

.about-us-wrap:hover:after {
    opacity: 1;
    right: -27px;
}

.about-us-wrap:hover .about-us-header i {
    color: rgb(252, 246, 246);
}

.about-us-wrap:hover .about-us-header h2 {
    color: rgb(252, 246, 246);
}

.about-us-wrap:hover p {
    color: rgb(252, 246, 246);
}

.about-us-header h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: rgb(13, 13, 104);
}

.about-us-header i {
    color: rgb(13, 13, 104);
    padding: 10px;
    font-size: 50px;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.about-us-wrap p {
    color: rgb(78, 75, 74);
}

.about-us-wrap:hover .about-us-header i {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

/* ================================================
        About Us Style End
================================================
*/

/* ================================================
       Store Style Begin
================================================
*/

.store-area {
    margin-top: 60px;
}

.store-header h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: rgb(4, 4, 77);
}

.store-header p {
    margin-top: -12px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: rgb(4, 4, 77);
    margin-bottom: 50px;
}

.store-area .no-edge {
    padding-left: 0;
    padding-right: 0;
}

/* .row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
} */

.store-wrap {
    overflow: hidden;
}

.store-wrap img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.store-wrap img:hover {
    transform: scale(1.2);
    cursor: zoom-in;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* ================================================
        Store Style End
================================================
*/